.product-image {
    height: 100px;
    max-width: 140px;
}

.product-price {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-price h1 {
    font-size: 2.25em;
}

.product-price-currency-flag {
    display: flex;
    font-size: 14px;
}

.product-section.production-section-product-header .country-flag {
    height: 36px
}

.product-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    margin: 0 auto;
}

.product-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    -webkit-font-smoothing: initial;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
    box-sizing: border-box;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.product-section-label {
    opacity: 0.75;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 0 12px 10px;
}

.production-section-product-header {
    padding: 12px 10px;
}

.product-section-currency-value {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-right: 6px;
    width: 150px;
    overflow: hidden;
}

.product-section-currency-value input {
    font-family: monospace, Courier New, Courier !important;
    font-weight: bold;
    text-align: right;
    background: none;
    border: none;
    width: 100%;
}

.product-section-currency-value input:focus {
    outline: none;
}

.product-section-currency-value input[type=number]::-webkit-inner-spin-button,
.product-section-currency-value input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product-section-currency-flag {
    cursor: pointer;
    align-items: center;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
    padding: 8px 3px;
    /*-webkit-transition: background-color 0.2s ease;*/
    /*-moz-transition: background-color 0.2s ease;*/
    /*-ms-transition: background-color 0.2s ease;*/
    /*-o-transition: background-color 0.2s ease;*/
    /*transition: background-color 0.2s ease;*/
    background: linear-gradient(to top, #1F3384 48%, #2e2f33 10%, #1B264F 49%);
}

.product-section-currency-flag.disabled {
    cursor: default;
    background-color: white;
}

.product-section-currency-flag:focus,
.product-section-currency-flag.disabled:hover {
    opacity: 1.0;
    background-color: white;
}

.product-section-currency-flag:hover {
    background: linear-gradient(to top, #576CA8 48%, #2e2f33 10%, #0F62BD 49%);
}

.product-section-currency-flag:active {
    background: linear-gradient(to top, #0F62BD 48%, #2e2f33 10%, #576CA8  49%);
}

.product-section-currency-flag:active * {
    color: white;
}

.product-section-currency-flag img {
    height: 32px;
    padding-left: 4px;
}

.product-section-currency-flag div {
    color: white;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.product-section-currency-flag svg {
    height: 16px;
    -webkit-transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
    -ms-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
}

.product-section-currency-flag.inverse svg {
    transform: rotate(-180deg);
}

.product-section-currency-selector {
    display: flex;
    justify-content: start;
    width: 100%;
    cursor: pointer;
    /*background-color: #ffffff;*/
    align-items: center;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    max-height: 144px;
    overflow-y: auto;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: linear-gradient(to top, #1F3384 48%, #2e2f33 10%, #1B264F 49%);
}

.product-section-currency-selector.collapsed {
    max-height: 0;
    opacity: 0;
}

.product-section-currency-selector-currency {
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    padding: 8px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.product-section-currency-selector-currency img {
    width: fit-content;
}

.product-section-currency-selector-currency:hover {
    background: linear-gradient(to top, #576CA8 48%, #2e2f33 10%, #0F62BD 49%);
}

.product-section-currency-selector-currency:active {
    background: linear-gradient(to top, #0F62BD 48%, #2e2f33 10%, #576CA8  49%);
}

.product-section-currency-selector-currency:active * {
    color: #ffffff;
}

.product-section-user-wallet {
    flex-direction: column;
}

.product-section-user-wallet.product-section-label {
    align-self: start;
}

.product-section-user-wallets {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding-bottom: 12px;
}

.product-section-user-wallets-wallet {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.product-section-user-wallets-wallet-name {
    font-size: 16px;
    font-weight: bold;
}

.product-section-user-wallets-wallet-balance {
    font-family: monospace,Courier New,Courier!important;
}

.product-section-user-wallets-wallet-balance-base {
    opacity: 0.75;
    font-family: monospace,Courier New,Courier!important;
}

/*STYLES FOR THE RIPPLE EFFECT*/
.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
}

.ripple:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}