.checkout-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    -webkit-font-smoothing: initial;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
    box-sizing: border-box;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.checkout-section-label {
    opacity: 0.75;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 0 12px 10px;
}

.checkout-section.checkout-section-order-total {
    flex-wrap: nowrap;
}

.checkout-order-total-value {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-right: 6px;
    width: 100%;
    max-width: 150px;
    overflow: hidden;
}

.checkout-order-total-value input {
    font-family: monospace, Courier New, Courier !important;
    font-weight: bold;
    text-align: right;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #2E2F33;
    width: 100%;
}

.checkout-order-total-value input[disabled] {
    border-bottom: none;
}

.checkout-order-total-value input:focus {
    outline: none;
}

.checkout-order-total-value input[type=number]::-webkit-inner-spin-button,
.checkout-order-total-value input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.checkout-section-currency-flag {
    align-items: center;
    background: linear-gradient(to top, #1B264F 48%, #2e2f33 10%, #1F3384 49%);
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
    display: flex;
    padding: 8px 10px;
    transition: background-color .2s ease;
    box-shadow: 0 0 0 0 rgba(0,0,0,.5);
    /*-webkit-transition: background-color 0.2s ease;*/
    /*-moz-transition: background-color 0.2s ease;*/
    /*-ms-transition: background-color 0.2s ease;*/
    /*-o-transition: background-color 0.2s ease;*/
    /*transition: background-color 0.2s ease;*/
    color: #ffffff;
}

/*disable background styles including hover and active*/
.checkout-section-currency-flag.disabled * {
    cursor: default;
    color: #000;
}

.checkout-section-currency-flag.disabled,
.checkout-section-currency-flag.disabled:focus,
.checkout-section-currency-flag.disabled:hover,
.checkout-section-currency-flag.disabled:active * {
    background: none;
    cursor: default;
}

.checkout-section-currency-flag:hover {
    background: linear-gradient(to top, #576CA8 48%, #2e2f33 10%, #0F62BD 49%);
}

.checkout-section-currency-flag:active {
    background: linear-gradient(to top, #1F3384 48%, #2e2f33 10%, #1B264F 49%);
}

.checkout-section-currency-flag img {
    height: 32px;
    padding-left: 4px;
}

.checkout-section-currency-flag div {
    color: white;
    display: flex;
    align-items: center;
}

.checkout-section.checkout-section-wallet-select .checkout-section-label {
    cursor: pointer;
}

.checkout-wallet-select-selected-wallet {
    cursor: pointer;
    margin-left: auto;
    text-align: right;
    padding: 12px 6px 12px 0;
}

.checkout-wallet-select-selected-wallet-name {
    font-size: 16px;
    font-weight: bold;
}

.checkout-wallet-select-selected-wallet-balance {
    font-family: monospace,Courier New,Courier!important;
}

.checkout-wallet-select-selected-wallet-balance-base {
    opacity: 0.75;
    font-family: monospace,Courier New,Courier!important;
}

.checkout-wallet-select-change {
    cursor: pointer;
    min-height: 52px;
    align-items: center;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
    padding: 12px 10px;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -ms-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

.checkout-wallet-select-change.inverse svg {
    transform: rotate(-180deg);
}

.checkout-wallet-select-change svg {
    height: 16px;
    -webkit-transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
    -ms-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
}

.checkout-wallet-select-change path {
    color: #0F62BD;
}

.checkout-wallet-select-change-wallet-selector {
    width: 100%;
    box-shadow: inset 0 0 5px 0px rgba(0,0,0,.2);
    box-sizing: border-box;
    max-height: 132px;
    overflow-y: auto;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.checkout-wallet-select-change-wallet-selector.collapsed {
    max-height: 0;
    opacity: 0;
}

.checkout-wallet-select-change-wallet-selection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 6px 0;
    cursor: pointer;
    text-align: right;
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    transition: background 0.2s ease;
}

.checkout-wallet-select-change-wallet-selection .country-flag {
    padding-left: 10px;
}

.checkout-wallet-select-change-wallet-selection.COINBASE:hover {
    background: #0667D0;
}

.checkout-wallet-select-change-wallet-selection:hover {
    background: #2E2F33;
}

.checkout-wallet-select-change-wallet-selection * {
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

.checkout-wallet-select-change-wallet-selection:hover * {
    color: white;
}

.checkout-wallet-select-change-wallet-selection-value * {
    font-family: monospace,Courier New,Courier!important;
}

.checkout-payment-total-value {
    margin-left: auto;
    padding-right: 6px;
    width: 150px;
    overflow: hidden;
}

.checkout-payment-total-value input {
    font-family: monospace, Courier New, Courier !important;
    font-weight: bold;
    text-align: right;
    background: none;
    border: none;
    width: 100%;
}

.checkout-payment-total-value input:focus {
    outline: none;
}

.checkout-payment-button {
    text-align: center;
}

.btn.btn-pay {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: calc(100% - 42px);
}

/*STYLES FOR THE RIPPLE EFFECT*/
.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
}

.ripple:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}