.product-image {
    height: 100px;
}

.product-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    -webkit-font-smoothing: initial;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
    box-sizing: border-box;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
