# For full config options, check the docs:
#    docs.serverless.com
service: moon-backend

provider:
  name: aws
  runtime: nodejs8.10
  variableSyntax: "\\${{([ ~:a-zA-Z0-9._\\'\",\\-\\/\\(\\)]+?)}}"
  stage: ${{opt:stage, self:custom.defaultStage}}
  region: ${{opt:region, self:custom.defaultRegion}}
  profile: ${{opt:aws-profile, self:custom.profiles.${{self:provider.stage}}}}
  environment:
    NODE_ENV: ${{self:provider.stage}}
    STACK_PREFIX: ${{self:service}}-${{self:provider.stage}}

plugins:
  - serverless-cloudformation-changesets

resources:
  Resources:
    S3Bucket:
      # Generic S3 bucket to store shit in TODO: Delete or specialize for a purpose
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${{self:service}}-${{self:provider.stage}}-${{self:custom.accountId}}
        CorsConfiguration:
          CorsRules:
          - AllowedHeaders: ['*']
            AllowedMethods: ['GET', 'PUT', 'POST', 'DELETE']
            AllowedOrigins: ['*']
            ExposedHeaders: ['ETag']

    UserRole:
      # Specifies the AWS resources that authenticated users from the moon federated provider are authorized to access.
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${{self:service}}-${{self:provider.stage}}-user-role
        AssumeRolePolicyDocument:
          Version: "2012-10-17"
          Statement:
          - Effect: "Allow"
            Principal:
              # TODO: Add OIDC manual setup in developer README. There is no AWS CloudFormation resource to generate OIDC provider
              Federated:
              - { Fn::Sub: "arn:aws:iam::${{self:custom.accountId}}:oidc-provider/${{file(./config/auth0.json):short_iss}}" }
            Action:
            - "sts:AssumeRoleWithWebIdentity"
            Condition:
              StringEquals:
                paywithmoon.auth0.com/:aud:
                - ${{file(./config/auth0.json):aud}}
        Policies:
        - PolicyName: AppSync-policy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
            - Effect: "Allow"
              Action:
              - "appsync:GraphQL"
              Resource:
              - { Fn::Join: ['', ["${{self:custom.appSyncAPIs.authenticated.Arn}}", '/*']] }
        - PolicyName: S3Bucket-policy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
            - Effect: "Allow"
              Action:
              - "s3:GetObject"
              - "s3:PutObject"
              - "s3:DeleteObject"
              Resource:
              - { Fn::Join: ['', [{ Fn::GetAtt: [S3Bucket, Arn] }, '/${${{file(./config/auth0.json):short_iss}}:sub}']] }
              - { Fn::Join: ['', [{ Fn::GetAtt: [S3Bucket, Arn] }, '/${${{file(./config/auth0.json):short_iss}}:sub}/*']] }
            - Effect: "Allow"
              Action:
              - "s3:ListBucket"
              Resource:
              - { Fn::GetAtt: [S3Bucket, Arn] }
              Condition:
                StringLike:
                  s3:prefix: "${{self:resources.Resources.S3Bucket.Properties.BucketName}}/${${{file(./config/auth0.json):short_iss}}:sub}/*"
        - PolicyName: UserSecretsDynamoDBTable-policy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
            - Effect: "Allow"
              Action:
              - "dynamodb:GetItem"
              - "dynamodb:PutItem"
              Resource:
              - ${{self:custom.dynamoDBTables.UserSecrets.Arn}}
              - { Fn::Join: ['', ["${{self:custom.dynamoDBTables.UserSecrets.Arn}}", '/*']] }
              Condition:
                ForAllValues:StringEquals:
                  dynamodb:LeadingKeys:
                    - "${${{file(./config/auth0.json):short_iss}}:sub}"

custom:
  # Custom staging profiles. You may access or modify these credentials in ~/.aws/credentials
  # See link for credentials documentation:
  #     https://serverless.com/framework/docs/providers/aws/guide/credentials/
  defaultStage: development
  defaultRegion: us-east-1
  profiles:
    production: moon-production
    development: moon-development

  accountId: ${AWS::AccountId}

  appSyncAPIs:
    authenticated:
      Arn: ${{cf:moon-backend-appsync-authenticated-${{self:provider.stage}}.ApiArn}}

  dynamoDBTables:
    UserSecrets:
      Name: ${{cf:moon-database-user-secrets-${{self:provider.stage}}.TableName}}
      Arn: ${{cf:moon-database-user-secrets-${{self:provider.stage}}.TableArn}}
    SiteSupportRequests:
      Name: ${{cf:moon-database-site-support-requests-${{self:provider.stage}}.TableName}}
      Arn: ${{cf:moon-database-site-support-requests-${{self:provider.stage}}.TableArn}}
    NonCheckoutReports:
      Name: ${{cf:moon-database-non-checkout-reports-${{self:provider.stage}}.TableName}}
      Arn: ${{cf:moon-database-non-checkout-reports-${{self:provider.stage}}.TableArn}}
