# For full config options, check the docs:
#    docs.serverless.com
service: moon-backend

provider:
  name: aws
  runtime: nodejs8.10
  variableSyntax: "\\${{([ ~:a-zA-Z0-9._\\'\",\\-\\/\\(\\)]+?)}}"
  stage: ${{opt:stage, self:custom.defaultStage}}
  region: ${{opt:region, self:custom.defaultRegion}}
  profile: ${{opt:aws-profile, self:custom.profiles.${{self:provider.stage}}}}
  environment:
    NODE_ENV: ${{self:provider.stage}}
    STACK_PREFIX: ${{self:service}}-${{self:provider.stage}}

plugins:
  - serverless-cloudformation-changesets

resources:
  Outputs:
    IdentityPoolId:
      Value:
        Ref: IdentityPool
    UserRoleArn:
      Value: { Fn::GetAtt: [UserRole, Arn] }
  Resources:
    IdentityPool:
      Type: AWS::Cognito::IdentityPool
      Properties:
        # IdentityPoolName has to satisfy /[\w ]+/g regex :(
        IdentityPoolName: moon_${{self:provider.stage}}_identityPool
        AllowUnauthenticatedIdentities: true

    IdentityPoolRoles:
      Type: AWS::Cognito::IdentityPoolRoleAttachment
      Properties:
        IdentityPoolId:
          Ref: IdentityPool
        Roles:
          unauthenticated: { Fn::GetAtt: [PublicRole, Arn] }

    PublicRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${{self:service}}-${{self:provider.stage}}-public-role
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
          - Effect: 'Allow'
            Principal:
              Federated: 'cognito-identity.amazonaws.com'
            Action:
            - 'sts:AssumeRoleWithWebIdentity'
            Condition:
              StringEquals:
                "cognito-identity.amazonaws.com:aud":
                  Ref: IdentityPool
              "ForAnyValue:StringLike":
                "cognito-identity.amazonaws.com:amr": unauthenticated
        Policies:
        - ${{self:custom.browserExtensionCloudWatchLogsPolicy}}

    UserRole:
      # Specifies the AWS resources that authenticated users from the moon federated provider are authorized to access.
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${{self:service}}-${{self:provider.stage}}-user-role
        AssumeRolePolicyDocument:
          Version: "2012-10-17"
          Statement:
          - Effect: "Allow"
            Principal:
              # TODO: Add OIDC manual setup in developer README. There is no AWS CloudFormation resource to generate OIDC provider
              Federated:
              - { Fn::Sub: "arn:aws:iam::${{self:custom.accountId}}:oidc-provider/${{file(./config/auth0.json):short_iss.${{self:provider.stage}}}}" }
            Action:
            - "sts:AssumeRoleWithWebIdentity"
            Condition:
              StringEquals: ${{self:custom.userRolePrincipalStringEqualsCondition.${{self:provider.stage}}}}
        Policies:
        - ${{self:custom.browserExtensionCloudWatchLogsPolicy}}
        - PolicyName: AppSync-policy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
            - Effect: "Allow"
              Action:
              - "appsync:GraphQL"
              Resource:
              - { Fn::Join: ['', ["${{self:custom.appSyncAPIs.authenticated.Arn}}", '/*']] }
        - PolicyName: UserSecretsDynamoDBTable-policy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
            - Effect: "Allow"
              Action:
              - "dynamodb:GetItem"
              - "dynamodb:PutItem"
              Resource:
              - ${{self:custom.dynamoDBTables.UserSecrets.Arn}}
              - { Fn::Join: ['', ["${{self:custom.dynamoDBTables.UserSecrets.Arn}}", '/*']] }
              Condition:
                ForAllValues:StringEquals:
                  dynamodb:LeadingKeys:
                    - "${${{file(./config/auth0.json):short_iss.${{self:provider.stage}}}}:sub}"

    BrowserExtensionLogGroup:
      Type: AWS::Logs::LogGroup
      Properties:
        LogGroupName: ${{self:custom.browserExtensionCloudWatchLogGroupName}}
        RetentionInDays: 7

custom:
  # Custom staging profiles. You may access or modify these credentials in ~/.aws/credentials
  # See link for credentials documentation:
  #     https://serverless.com/framework/docs/providers/aws/guide/credentials/
  defaultStage: development
  defaultRegion: us-east-1
  profiles:
    production: moon-production
    development: moon-development

  accountId: ${AWS::AccountId}

  appSyncAPIs:
    authenticated:
      Arn: ${{cf:moon-backend-appsync-authenticated-${{self:provider.stage}}.ApiArn}}

  browserExtensionCloudWatchLogGroupName: /browser.extension.${{self:provider.stage}}/*

  browserExtensionCloudWatchLogsPolicy:
    PolicyName: BrowserExtensionCloudWatchlogs-policy
    PolicyDocument:
      Version: '2012-10-17'
      Statement:
      - Effect: 'Allow'
        Action:
        - 'logs:PutLogEvents'
        - 'logs:createLogGroup'
        - 'logs:createLogStream'
        Resource:
        - { Fn::Join: ["", [ 'arn:aws:logs:${{self:provider.region}}:', { Ref: "AWS::AccountId" }, ':log-group:${{self:custom.browserExtensionCloudWatchLogGroupName}}:*']] }
        - { Fn::Join: ["", [ 'arn:aws:logs:${{self:provider.region}}:', { Ref: "AWS::AccountId" }, ':log-group:${{self:custom.browserExtensionCloudWatchLogGroupName}}']] }

  dynamoDBTables:
    UserSecrets:
      Name: ${{cf:moon-database-user-secrets-${{self:provider.stage}}.TableName}}
      Arn: ${{cf:moon-database-user-secrets-${{self:provider.stage}}.TableArn}}
    SiteSupportRequests:
      Name: ${{cf:moon-database-site-support-requests-${{self:provider.stage}}.TableName}}
      Arn: ${{cf:moon-database-site-support-requests-${{self:provider.stage}}.TableArn}}
    NonCheckoutReports:
      Name: ${{cf:moon-database-non-checkout-reports-${{self:provider.stage}}.TableName}}
      Arn: ${{cf:moon-database-non-checkout-reports-${{self:provider.stage}}.TableArn}}

  userRolePrincipalStringEqualsCondition:
    production:
      paywithmoon.auth0.com/:aud:
      - ${{file(./config/auth0.json):aud.${{self:provider.stage}}}}
    development:
      paywithmoon-development.auth0.com/:aud:
      - ${{file(./config/auth0.json):aud.${{self:provider.stage}}}}