# For full config options, check the docs:
#    docs.serverless.com
service: moon

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
# frameworkVersion: "=X.X.X"

provider:
  name: aws
  runtime: nodejs8.10
  # Custom syntax: Use double curly braces to define variables
  # See link for more information:
  #     https://serverless.com/framework/docs/providers/aws/guide/variables/#reference-variables-in-javascript-files
  variableSyntax: "\\${{([ ~:a-zA-Z0-9._\\'\",\\-\\/\\(\\)]+?)}}"
  # See link for more information:
  #     https://serverless.com/framework/docs/providers/aws/guide/credentials/
  stage: ${{opt:stage, self:custom.defaultStage}}
  region: ${{opt:region, self:custom.defaultRegion}}
  profile: ${{opt:aws-profile, self:custom.profiles.${{self:provider.stage}}}}
  environment:
    NODE_ENV: ${{self:provider.stage}}

plugins:
  - serverless-appsync-plugin
  - serverless-iam-roles-per-function
  - serverless-cloudformation-changesets

resources:
  Resources:
    CoinbaseApiKeyDynamoDBTable:
      # Table that stores coinbase API Keys for users.
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${{self:service}}-${{self:provider.stage}}-coinbase-api-key
        AttributeDefinitions:
        - AttributeName: sub
          AttributeType: S
        KeySchema:
        - AttributeName: sub
          KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 5
          WriteCapacityUnits: 5

    S3Bucket:
      # Generic S3 bucket to store shit in TODO: Delete or specialize for a purpose
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${{self:service}}-${{self:provider.stage}}
        CorsConfiguration:
          CorsRules:
          - AllowedHeaders: ['*']
            AllowedMethods: ['GET', 'PUT', 'POST', 'DELETE']
            AllowedOrigins: ['*']
            ExposedHeaders: ['ETag']

    UserRole:
      # Specifies the AWS resources that authenticated users from the moon federated provider are authorized to access.
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${{self:service}}-${{self:provider.stage}}-user-role
        AssumeRolePolicyDocument:
          Version: "2012-10-17"
          Statement:
          - Effect: "Allow"
            Principal:
              # TODO: Add OIDC manual setup in developer README. There is no AWS CloudFormation resource to generate OIDC provider
              Federated:
              - { Fn::Sub: "arn:aws:iam::${{self:custom.accountId}}:oidc-provider/${{file(./config/auth0.json):short_iss}}" }
            Action:
            - "sts:AssumeRoleWithWebIdentity"
            Condition:
              StringEquals:
                paywithmoon.auth0.com/:aud:
                - ${{file(./config/auth0.json):aud}}
        Policies:
        - PolicyName: AppSync-policy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
            - Effect: "Allow"
              Action:
              - "appsync:GraphQL"
              Resource:
              - { Fn::Join: ['', [{ Fn::GetAtt: [GraphQlApi, Arn] }, '/*']] }
        - PolicyName: S3Bucket-policy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
            - Effect: "Allow"
              Action:
              - "s3:GetObject"
              - "s3:PutObject"
              - "s3:DeleteObject"
              Resource:
              - { Fn::Join: ['', [{ Fn::GetAtt: [S3Bucket, Arn] }, '/${${{file(./config/auth0.json):short_iss}}:sub}']] }
              - { Fn::Join: ['', [{ Fn::GetAtt: [S3Bucket, Arn] }, '/${${{file(./config/auth0.json):short_iss}}:sub}/*']] }
            - Effect: "Allow"
              Action:
              - "s3:ListBucket"
              Resource:
              - { Fn::GetAtt: [S3Bucket, Arn] }
              Condition:
                StringLike:
                  s3:prefix: "${{self:resources.Resources.S3Bucket.Properties.BucketName}}/${${{file(./config/auth0.json):short_iss}}:sub}/*"
        - PolicyName: CoinbaseApiKeyDynamoDBTable-policy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
            - Effect: "Allow"
              Action:
              - "dynamodb:GetItem"
              - "dynamodb:PutItem"
              Resource:
              - { Fn::GetAtt: [CoinbaseApiKeyDynamoDBTable, Arn] }
              - { Fn::Join: ['', [{ Fn::GetAtt: [CoinbaseApiKeyDynamoDBTable, Arn] }, '/*']] }
              Condition:
                ForAllValues:StringEquals:
                  dynamodb:LeadingKeys:
                    - "${${{file(./config/auth0.json):short_iss}}:sub}"

# See Link for functions documentation:
#     https://serverless.com/framework/docs/providers/aws/guide/functions/
#
# IMPORTANT NOTE: CloudFormation logical IDs for functions are converted
#     to camel case with first character capitalized, then appended with
#     "LambdaFunction" at the end. For example,
#     the function 'exchangeRate' will have a CloudFormation logical ID of
#     'ExchangeRateLambdaFunction'
functions:
  exchangeRate:
    name: ${{self:service}}-${{self:provider.stage}}-exchangeRate
    description: 'Returns the exchange rate given a quote and base currency.'
    handler: Lambda/index.exchangeRate
    timeout: 30
  user:
    name: ${{self:service}}-${{self:provider.stage}}-user
    description: 'Returns information about a moon user.'
    handler: Lambda/index.user
    iamRoleStatementsInherit: true
    iamRoleStatements:
    - Effect: "Allow"
      Action:
      - "dynamodb:GetItem"
      Resource:
      - { Fn::GetAtt: [CoinbaseApiKeyDynamoDBTable, Arn] }
      - { Fn::Join: ['', [{ Fn::GetAtt: [CoinbaseApiKeyDynamoDBTable, Arn] }, '/*']] }
  getPaymentPayload:
    name: ${{self:service}}-${{self:provider.stage}}-getPaymentPayload
    description: 'Exchanges client information for a payment payload to be executed on the client'
    handler: Lambda/index.getPaymentPayload
    iamRoleStatementsInherit: true
    iamRoleStatements:
    - Effect: "Allow"
      Action:
      - "dynamodb:GetItem"
      Resource:
      - { Fn::GetAtt: [CoinbaseApiKeyDynamoDBTable, Arn] }
      - { Fn::Join: ['', [{ Fn::GetAtt: [CoinbaseApiKeyDynamoDBTable, Arn] }, '/*']] }
    environment:
      # specify custom config directory for agcod
      NODE_CONFIG_DIR: "./Lambda/src/services/paymentProviders/amazonIncentives/config"

custom:
  # Custom staging profiles. You may access or modify these credentials in ~/.aws/credentials
  # See link for credentials documentation:
  #     https://serverless.com/framework/docs/providers/aws/guide/credentials/
  defaultStage: development
  defaultRegion: us-east-1
  profiles:
    production: moon-production
    development: moon-development

  accountId: ${AWS::AccountId}

  appSync:
    name: ${{self:service}}-${{self:provider.stage}}
    schema: AppSync/schema.graphql
    authenticationType: OPENID_CONNECT
    openIdConnectConfig:
      issuer: ${{file(./config/auth0.json):iss}}
      clientId: ${{file(./config/auth0.json):aud}}
    dataSources:
    # ============== Dynamo DB Tables ==============
      # CoinbaseApiKeyDynamoDBTable
      - type: AMAZON_DYNAMODB
        name: CoinbaseApiKeyDynamoDBTable
        description: 'DynamoDB table that stores user coinbase API keys'
        config:
          tableName: ${{self:resources.Resources.CoinbaseApiKeyDynamoDBTable.Properties.TableName}}
          iamRoleStatements:
          - Effect: "Allow"
            Action:
            - "dynamodb:PutItem"
            Resource:
            - { Fn::GetAtt: [CoinbaseApiKeyDynamoDBTable, Arn] }
            - { Fn::Join: ['', [{ Fn::GetAtt: [CoinbaseApiKeyDynamoDBTable, Arn] }, '/*']] }
    # ============== Lambda Functions ==============
      # exchangeRate
      - type: AWS_LAMBDA
        name: ExchangeRateLambdaFunction
        description: ${{self:functions.exchangeRate.description}}
        config:
          lambdaFunctionArn: { Fn::GetAtt: [ExchangeRateLambdaFunction, Arn] }
          iamRoleStatements:
          - Effect: "Allow"
            Action:
            - "lambda:invokeFunction"
            Resource:
            - { Fn::GetAtt: [ExchangeRateLambdaFunction, Arn] }
            - { Fn::Join: ['', [{ Fn::GetAtt: [ExchangeRateLambdaFunction, Arn] }, ':*']] }
      # user
      - type: AWS_LAMBDA
        name: UserLambdaFunction
        description: ${{self:functions.user.description}}
        config:
          lambdaFunctionArn: { Fn::GetAtt: [UserLambdaFunction, Arn] }
          iamRoleStatements:
          - Effect: "Allow"
            Action:
            - "lambda:invokeFunction"
            Resource:
            - { Fn::GetAtt: [UserLambdaFunction, Arn] }
            - { Fn::Join: ['', [{ Fn::GetAtt: [UserLambdaFunction, Arn] }, ':*']] }
      # getPaymentPayload
      - type: AWS_LAMBDA
        name: GetPaymentPayloadLambdaFunction
        description: ${{self:functions.getPaymentPayload.description}}
        config:
          lambdaFunctionArn: { Fn::GetAtt: [GetPaymentPayloadLambdaFunction, Arn] }
          iamRoleStatements:
          - Effect: "Allow"
            Action:
            - "lambda:invokeFunction"
            Resource:
            - { Fn::GetAtt: [GetPaymentPayloadLambdaFunction, Arn] }
            - { Fn::Join: ['', [{ Fn::GetAtt: [GetPaymentPayloadLambdaFunction, Arn] }, ':*']] }
    # ============== None ==============
      # identity
      - type: NONE
        name: identityNone
        description: 'Returns information about the callee'

    mappingTemplatesLocation: AppSync/mapping-templates

    mappingTemplates:
    # ============== Query ==============
      # Query/identity
      - dataSource: identityNone
        type: Query
        field: identity
        request: Query/identity/request.vm
        response: Query/identity/response.vm
      # Query/user
      - dataSource: UserLambdaFunction
        type: Query
        field: user
        request: Query/user/request.vm
        response: Query/user/response.vm
      # Query/exchangeRate
      - dataSource: ExchangeRateLambdaFunction
        type: Query
        field: exchangeRate
        request: Query/exchangeRate/request.vm
        response: Query/exchangeRate/response.vm
    # ============== Mutation ==============
      # Mutation/updateCoinbaseApiKey
      - dataSource: CoinbaseApiKeyDynamoDBTable
        type: Mutation
        field: updateCoinbaseApiKey
        request: Mutation/updateCoinbaseApiKey/request.vm
        response: Mutation/updateCoinbaseApiKey/response.vm
