# Check https://circleci.com/docs/2.0/language-javascript/ for more details
version: 2.1

defaults: &config_project_defaults
  working_directory: ~/repo
  docker:
    - image: node:8.11.3

config_env_development: &config_env_development
  environment:
    NODE_ENV: development
    SLS_DEBUG: "*"
config_env_production: &config_env_production
  environment:
    NODE_ENV: production
    SLS_DEBUG: "*"

# See https://circleci.com/docs/2.0/reusing-config/ for more info
commands:
  configure_aws_development:
    description: "Sets up the AWS profiles and configuration for the development workflow"
    steps:
      - run:
          name: Create ~/.aws folder
          command: mkdir ~/.aws
      - run:
          name: Create ~/.aws/credentials file
          command: >
            echo -e "[default]
              aws_access_key_id=None
              aws_secret_access_key=None\n
              [moon-production]
              aws_access_key_id=$DEVELOPERS_AWS_ACCESS_KEY_ID
              aws_secret_access_key=$DEVELOPERS_AWS_SECRET_ACCESS_KEY\n
              [moon-development]
              aws_access_key_id=$DEVELOPERS_AWS_ACCESS_KEY_ID
              aws_secret_access_key=$DEVELOPERS_AWS_SECRET_ACCESS_KEY
            " >> ~/.aws/credentials
  configure_aws_staging:
    description: "Sets up the AWS profiles and configuration for the staging workflow"
    steps:
      - run:
          name: Create ~/.aws folder
          command: mkdir ~/.aws
      - run:
          name: Create ~/.aws/credentials file
          command: >
            echo -e "[default]
              aws_access_key_id=None
              aws_secret_access_key=None\n
              [moon-production]
              aws_access_key_id=$DEVELOPERS_AWS_ACCESS_KEY_ID
              aws_secret_access_key=$DEVELOPERS_AWS_SECRET_ACCESS_KEY\n
              [moon-development]
              aws_access_key_id=$PAYWITHMOON_AWS_ACCESS_KEY_ID
              aws_secret_access_key=$PAYWITHMOON_AWS_SECRET_ACCESS_KEY
            " >> ~/.aws/credentials
  configure_aws_production:
    description: "Sets up the AWS profiles and configuration for the staging workflow"
    steps:
      - run:
          name: Create ~/.aws folder
          command: mkdir ~/.aws
      - run:
          name: Create ~/.aws/credentials file
          command: >
            echo -e "[default]
              aws_access_key_id=None
              aws_secret_access_key=None\n
              [moon-production]
              aws_access_key_id=$PAYWITHMOON_AWS_ACCESS_KEY_ID
              aws_secret_access_key=$PAYWITHMOON_AWS_SECRET_ACCESS_KEY
            " >> ~/.aws/credentials
  install_database:
    description: "Installs dependencies in preparation to deploy databases"
    steps:
      - checkout
      - restore_cache:
          name: Restore latest node_modules from cache
          keys:
            - database-v1-{{ .Branch }}-{{ .Revision }}
            - database-v1-{{ .Branch }}
            - database-v1
      - run:
          working_directory: ~/repo/database
          command: npm install
      - save_cache:
          name: Save post-install node_modules into cache
          key: database-v1-{{ .Branch }}-{{ .Revision }}
          paths:
            - ~/repo/database/node_modules
  install_dashboard:
    description: "Installs dependencies in preparation to build and deploy dashboard"
    steps:
      - checkout
      - restore_cache:
          name: Restore latest node_modules from cache
          keys:
            - dashboard-v1-{{ .Branch }}-{{ .Revision }}
            - dashboard-v1-{{ .Branch }}
            - dashboard-v1
      - run:
          working_directory: ~/repo/dashboard
          command: npm install
      - save_cache:
          name: Save post-install node_modules into cache
          key: dashboard-v1-{{ .Branch }}-{{ .Revision }}
          paths:
            - ~/repo/dashboard/node_modules
  install_backend:
    description: "Installs dependencies in preparation to deploy backend"
    steps:
      - checkout
      - restore_cache:
          name: Restore latest node_modules from cache
          keys:
            - backend-v1-{{ .Branch }}-{{ .Revision }}
            - backend-v1-{{ .Branch }}
            - backend-v1
      - run:
          working_directory: ~/repo/backend
          command: npm install
      - save_cache:
          name: Save post-install node_modules into cache
          key: backend-v1-{{ .Branch }}-{{ .Revision }}
          paths:
            - ~/repo/backend/node_modules
  install_backend_lambda:
    description: "Installs dependencies in preparation to deploy the nodejs codebase"
    steps:
      - checkout
      - restore_cache:
          name: Restore latest node_modules from cache
          keys:
            - backend-lambda-v1-{{ .Branch }}-{{ .Revision }}
            - backend-lambda-v1-{{ .Branch }}
            - backend-lambda-v1
      - run:
          working_directory: ~/repo/backend/Lambda
          command: npm install
      - save_cache:
          name: Save post-install node_modules into cache
          key: backend-lambda-v1-{{ .Branch }}-{{ .Revision }}
          paths:
            - ~/repo/backend/Lambda/node_modules
  install_browser_extension:
    description: "Installs dependencies in preparation to build the browser extension"
    steps:
      - checkout
      - restore_cache:
          name: Restore latest node_modules from cache
          keys:
            - browser-extension-v1-{{ .Branch }}-{{ .Revision }}
            - browser-extension-v1-{{ .Branch }}
            - browser-extension-v1
      - run:
          working_directory: ~/repo/browser-extension
          command: npm install
      - save_cache:
          name: Save post-install node_modules into cache
          key: browser-extension-v1-{{ .Branch }}-{{ .Revision }}
          paths:
            - ~/repo/browser-extension/node_modules

jobs:
  database_nonCheckoutReports_deploy_development:
    <<: *config_project_defaults
    <<: *config_env_development
    steps:
      - configure_aws_development
      - install_database
      - run:
          working_directory: ~/repo/database
          command: npm run deploy-nonCheckoutReports
  database_paymentPayloadRecords_deploy_development:
    <<: *config_project_defaults
    <<: *config_env_development
    steps:
      - configure_aws_development
      - install_database
      - run:
          working_directory: ~/repo/database
          command: npm run deploy-paymentPayloadRecords
  database_siteSupportRequests_deploy_development:
    <<: *config_project_defaults
    <<: *config_env_development
    steps:
      - configure_aws_development
      - install_database
      - run:
          working_directory: ~/repo/database
          command: npm run deploy-siteSupportRequests
  database_userInformation_deploy_development:
    <<: *config_project_defaults
    <<: *config_env_development
    steps:
      - configure_aws_development
      - install_database
      - run:
          working_directory: ~/repo/database
          command: npm run deploy-userInformation
  database_userSecrets_deploy_development:
    <<: *config_project_defaults
    <<: *config_env_development
    steps:
      - configure_aws_development
      - install_database
      - run:
          working_directory: ~/repo/database
          command: npm run deploy-userSecrets
  dashboard_build_deploy:
    <<: *config_project_defaults
    <<: *config_env_production
    steps:
      - install_dashboard
      - run:
          working_directory: ~/repo/dashboard
          command: npm run test
      - run:
          working_directory: ~/repo/dashboard
          command: npm run build
      - run:
          working_directory: ~/repo/dashboard
          command: ./node_modules/.bin/firebase deploy --token $FIREBASE_TOKEN
  backend_deploy_lambda_development:
    <<: *config_project_defaults
    <<: *config_env_development
    steps:
      - configure_aws_development
      - install_backend
      - install_backend_lambda
      - run:
          working_directory: ~/repo/backend
          command: npm run deploy-lambda
  backend_deploy_appsync_authenticated_development:
    <<: *config_project_defaults
    <<: *config_env_development
    steps:
      - configure_aws_development
      - install_backend
      - run:
          working_directory: ~/repo/backend
          command: npm run deploy-appsync-authenticated
  backend_deploy_appsync_public_development:
    <<: *config_project_defaults
    <<: *config_env_development
    steps:
      - configure_aws_development
      - install_backend
      - run:
          working_directory: ~/repo/backend
          command: npm run deploy-appsync-public
  backend_deploy_development:
    <<: *config_project_defaults
    <<: *config_env_development
    steps:
      - configure_aws_development
      - install_backend
      - run:
          working_directory: ~/repo/backend
          command: npm run deploy-backend
  browser_extension_build_development:
    <<: *config_project_defaults
    <<: *config_env_development
    steps:
      - configure_aws_development
      - install_browser_extension
      - run:
          working_directory: ~/repo/browser-extension
          command: npm run build
      - store_artifacts:
          path: ~/repo/browser-extension/build/zipped
          destination: browser-extension-build

workflows:
  version: 2
  deploy_then_build_development_full_workflow:
    jobs:
      - database_nonCheckoutReports_deploy_development:
          filters:
            branches:
              only:
                - dev
                - /^feature*/
                - /^fix*/
      - database_paymentPayloadRecords_deploy_development:
          filters:
            branches:
              only:
                - dev
                - /^feature*/
                - /^fix*/
      - database_siteSupportRequests_deploy_development:
          filters:
            branches:
              only:
                - dev
                - /^feature*/
                - /^fix*/
      - database_userInformation_deploy_development:
          filters:
            branches:
              only:
                - dev
                - /^feature*/
                - /^fix*/
      - database_userSecrets_deploy_development:
          filters:
            branches:
              only:
                - dev
                - /^feature*/
                - /^fix*/
      - backend_deploy_lambda_development:
          requires:
            - database_nonCheckoutReports_deploy_development
            - database_paymentPayloadRecords_deploy_development
            - database_siteSupportRequests_deploy_development
            - database_userInformation_deploy_development
            - database_userSecrets_deploy_development
          filters:
            branches:
              only:
                - dev
                - /^feature*/
                - /^fix*/
      - backend_deploy_appsync_authenticated_development:
          requires:
            - backend_deploy_lambda_development
          filters:
            branches:
              only:
                - dev
                - /^feature*/
                - /^fix*/
      - backend_deploy_appsync_public_development:
          requires:
            - backend_deploy_lambda_development
          filters:
            branches:
              only:
                - dev
                - /^feature*/
                - /^fix*/
      - backend_deploy_development:
          requires:
            - backend_deploy_appsync_authenticated_development
            - backend_deploy_appsync_public_development
          filters:
            branches:
              only:
                - dev
                - /^feature*/
                - /^fix*/
      - browser_extension_build_development:
          requires:
            - backend_deploy_development
          filters:
            branches:
              only:
                - dev
                - /^feature*/
                - /^fix*/

  deploy_then_build_production_full_workflow:
    jobs:
      - dashboard_build_deploy:
          filters:
            branches:
              only:
                - master
