# For full config options, check the docs:
#    docs.serverless.com
service: moon-backend-appsync-public

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
# frameworkVersion: "=X.X.X"

provider:
  name: aws
  runtime: nodejs8.10
  # Custom syntax: Use double curly braces to define variables
  # See link for more information:
  #     https://serverless.com/framework/docs/providers/aws/guide/variables/#reference-variables-in-javascript-files
  variableSyntax: "\\${{([ ~:a-zA-Z0-9._\\'\",\\-\\/\\(\\)]+?)}}"
  # See link for more information:
  #     https://serverless.com/framework/docs/providers/aws/guide/credentials/
  stage: ${{opt:stage, self:custom.defaultStage}}
  region: ${{opt:region, self:custom.defaultRegion}}
  profile: ${{opt:aws-profile, self:custom.profiles.${{self:provider.stage}}}}
  environment:
    NODE_ENV: ${{self:provider.stage}}
    STACK_PREFIX: ${{self:service}}-${{self:provider.stage}}

plugins:
  - serverless-appsync-plugin
  - serverless-cloudformation-changesets

resources:
  Outputs:
    ApiId:
      Value:
        { Fn::GetAtt: [GraphQlApi, ApiId] }
    ApiArn:
      Value:
        { Fn::GetAtt: [GraphQlApi, Arn] }
    ApiUrl:
      Value:
        { Fn::GetAtt: [GraphQlApi, GraphQLUrl] }
    ApiKey:
      Value:
        { Fn::GetAtt: [GraphQlApiKeyDefault, ApiKey] }

custom:
  # Custom staging profiles. You may access or modify these credentials in ~/.aws/credentials
  # See link for credentials documentation:
  #     https://serverless.com/framework/docs/providers/aws/guide/credentials/
  defaultStage: development
  defaultRegion: us-east-1
  profiles:
    production: moon-production
    development: moon-development

  accountId: ${AWS::AccountId}

  lambdaFunctions:
    ExchangeRates:
      Arn: ${{cf:moon-backend-lambda-${{self:provider.stage}}.ExchangeRatesArn}}
      Description: ${{file(../../Lambda/serverless.yml):functions.exchangeRates.description}}

  dynamoDBTables:
    SiteSupportRequests:
      Name: ${{cf:moon-database-site-support-requests-${{self:provider.stage}}.TableName}}
      Arn: ${{cf:moon-database-site-support-requests-${{self:provider.stage}}.TableArn}}
      Description: ${{file(../../../database/siteSupportRequests/package.json):description}}
    NonCheckoutReports:
      Name: ${{cf:moon-database-non-checkout-reports-${{self:provider.stage}}.TableName}}
      Arn: ${{cf:moon-database-non-checkout-reports-${{self:provider.stage}}.TableArn}}
      Description: ${{file(../../../database/nonCheckoutReports/package.json):description}}

  appSync:
    name: ${{self:service}}-${{self:provider.stage}}
    schema: schema.graphql
    authenticationType: API_KEY
    dataSources:
    # ============== Dynamo DB Tables ==============
      # SiteSupportRequestDynamoDBTable
      - type: AMAZON_DYNAMODB
        name: SiteSupportRequestsDynamoDBTable
        description: ${{self:custom.dynamoDBTables.SiteSupportRequests.Description}}
        config:
          tableName: ${{self:custom.dynamoDBTables.SiteSupportRequests.Name}}
          iamRoleStatements:
          - Effect: "Allow"
            Action:
            - "dynamodb:GetItem"
            - "dynamodb:UpdateItem"
            Resource:
            - ${{self:custom.dynamoDBTables.SiteSupportRequests.Arn}}
            - { Fn::Join: ['', ["${{self:custom.dynamoDBTables.SiteSupportRequests.Arn}}", '/*']] }
      # NonCheckoutReportsDynamoDBTable
      - type: AMAZON_DYNAMODB
        name: NonCheckoutReportsDynamoDBTable
        description: ${{self:custom.dynamoDBTables.NonCheckoutReports.Description}}
        config:
          tableName: ${{self:custom.dynamoDBTables.NonCheckoutReports.Name}}
          iamRoleStatements:
          - Effect: "Allow"
            Action:
            - "dynamodb:GetItem"
            - "dynamodb:UpdateItem"
            Resource:
            - ${{self:custom.dynamoDBTables.NonCheckoutReports.Arn}}
            - { Fn::Join: ['', ["${{self:custom.dynamoDBTables.NonCheckoutReports.Arn}}", '/*']] }
    # ============== Lambda Functions ==============
      # exchangeRates
      - type: AWS_LAMBDA
        name: ExchangeRatesLambdaFunction
        description: ${{self:custom.lambdaFunctions.ExchangeRates.Description}}
        config:
          lambdaFunctionArn: ${{self:custom.lambdaFunctions.ExchangeRates.Arn}}
          iamRoleStatements:
          - Effect: "Allow"
            Action:
            - "lambda:invokeFunction"
            Resource:
            - ${{self:custom.lambdaFunctions.ExchangeRates.Arn}}

    mappingTemplatesLocation: mapping-templates

    mappingTemplates:
    # ============== Query ==============
      # Query/exchangeRates
      - dataSource: ExchangeRatesLambdaFunction
        type: Query
        field: exchangeRates
        request: Query/exchangeRates/request.vtl
        response: Query/exchangeRates/response.vtl
    # ============== Mutation ==============
      # Mutation/addSiteSupportRequest
      - dataSource: SiteSupportRequestsDynamoDBTable
        type: Mutation
        field: addSiteSupportRequest
        request: Mutation/addSiteSupportRequest/request.vtl
        response: Mutation/addSiteSupportRequest/response.vtl
      # Mutation/addNonCheckoutReport
      - dataSource: NonCheckoutReportsDynamoDBTable
        type: Mutation
        field: addNonCheckoutReport
        request: Mutation/addNonCheckoutReport/request.vtl
        response: Mutation/addNonCheckoutReport/response.vtl
