{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-es2015-arrow-functions",
    "transform-es2015-modules-commonjs",
    "transform-class-properties",
    "transform-imports",
    "transform-object-rest-spread"
  ]
}
