service: moon-database-payment-payload-records

provider:
  name: aws
  runtime: nodejs8.10
  # Custom syntax: Use double curly braces to define variables
  # See link for more information:
  #     https://serverless.com/framework/docs/providers/aws/guide/variables/#reference-variables-in-javascript-files
  variableSyntax: "\\${{([ ~:a-zA-Z0-9._\\'\",\\-\\/\\(\\)]+?)}}"
  # See link for more information:
  #     https://serverless.com/framework/docs/providers/aws/guide/credentials/
  stage: ${{opt:stage, self:custom.defaultStage}}
  region: ${{opt:region, self:custom.defaultRegion}}
  profile: ${{opt:aws-profile, self:custom.profiles.${{self:provider.stage}}}}
  environment:
    NODE_ENV: ${{self:provider.stage}}

plugins:
  - serverless-dynamodb-autoscaling
  - serverless-cloudformation-changesets

resources:
  Outputs:
    TableArn:
      Value:
        { Fn::GetAtt: [PaymentPayloadRecordsDynamoDBTable, Arn] }
    TableName:
      Value: ${{self:service}}-${{self:provider.stage}}
    TableDescription:
      Value: ${{file(./package.json):description}}
  Resources:
    PaymentPayloadRecordsDynamoDBTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${{self:service}}-${{self:provider.stage}}
        AttributeDefinitions:
        - AttributeName: awsRequestId
          AttributeType: S
        - AttributeName: sub
          AttributeType: S
        - AttributeName: createdOn
          AttributeType: S
        - AttributeName: id
          AttributeType: S
        KeySchema:
        - AttributeName: id
          KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 5
          WriteCapacityUnits: 5
        GlobalSecondaryIndexes:
        - IndexName: awsRequestIdGSI
          KeySchema:
          - AttributeName: awsRequestId
            KeyType: HASH
          Projection:
            ProjectionType: KEYS_ONLY
          ProvisionedThroughput:
            ReadCapacityUnits: 5
            WriteCapacityUnits: 5
        - IndexName: subByCreatedOnGSI
          KeySchema:
          - AttributeName: sub
            KeyType: HASH
          - AttributeName: createdOn
            KeyType: RANGE
          Projection:
            ProjectionType: KEYS_ONLY
          ProvisionedThroughput:
            ReadCapacityUnits: 5
            WriteCapacityUnits: 5

custom:
  # Custom staging profiles. You may access or modify these credentials in ~/.aws/credentials
  # See link for credentials documentation:
  #     https://serverless.com/framework/docs/providers/aws/guide/credentials/
  defaultStage: development
  defaultRegion: us-east-1
  profiles:
    production: moon-production
    development: moon-development

  accountId: ${AWS::AccountId}

  # DynamoDB autoscaling plugin config
  # See link for more information:
  #     https://github.com/sbstjn/serverless-dynamodb-autoscaling
  capacities:
  - table: PaymentPayloadRecordsDynamoDBTable
    read:
      minimum: 5
      maximum: 1000
      usage: 0.9
    write:
      minimum: 5
      maximum: 1000
      usage: 0.9
