#moon-div {
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
    display:flex;
    height:624px;
    width:360px;
    -webkit-font-smoothing:initial;
    position:fixed;
    line-height:normal;
    letter-spacing:normal;
    font-size:14px;
    top:15px;
    right:25px;
    border-radius:5px;
    background-color:white;
    box-sizing:border-box;
    color:#666;
    z-index:2147483647 !important;
}
