service: moon-database-non-checkout-reports

provider:
  name: aws
  runtime: nodejs8.10
  # Custom syntax: Use double curly braces to define variables
  # See link for more information:
  #     https://serverless.com/framework/docs/providers/aws/guide/variables/#reference-variables-in-javascript-files
  variableSyntax: "\\${{([ ~:a-zA-Z0-9._\\'\",\\-\\/\\(\\)]+?)}}"
  # See link for more information:
  #     https://serverless.com/framework/docs/providers/aws/guide/credentials/
  stage: ${{opt:stage, self:custom.defaultStage}}
  region: ${{opt:region, self:custom.defaultRegion}}
  profile: ${{opt:aws-profile, self:custom.profiles.${{self:provider.stage}}}}
  environment:
    NODE_ENV: ${{self:provider.stage}}

plugins:
  - serverless-dynamodb-autoscaling
  - serverless-cloudformation-changesets

resources:
  Outputs:
    TableArn:
      Value:
        { Fn::GetAtt: [NonCheckoutReportsDynamoDBTable, Arn] }
      Export:
        Name: ${{self:service}}-${{self:provider.stage}}-TableArn
    TableName:
      Value: ${{self:service}}-${{self:provider.stage}}
      Export:
        Name: ${{self:service}}-${{self:provider.stage}}-TableName
  Resources:
    NonCheckoutReportsDynamoDBTable:
      # Table that stores site support requests from users.
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${{self:service}}-${{self:provider.stage}}
        AttributeDefinitions:
        - AttributeName: id
          AttributeType: S
        KeySchema:
        - AttributeName: id
          KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 5 # TODO: Contact AWS Support beyond 40000 for an increase
          WriteCapacityUnits: 5 # TODO: Contact AWS Support beyond 40000 for an increase

custom:
  # Custom staging profiles. You may access or modify these credentials in ~/.aws/credentials
  # See link for credentials documentation:
  #     https://serverless.com/framework/docs/providers/aws/guide/credentials/
  defaultStage: development
  defaultRegion: us-east-1
  profiles:
    production: moon-production
    development: moon-development

  accountId: ${AWS::AccountId}

  # DynamoDB autoscaling plugin config
  # See link for more information:
  #     https://github.com/sbstjn/serverless-dynamodb-autoscaling
  capacities:
  - table: NonCheckoutReportsDynamoDBTable
    read:
      minimum: 5
      maximum: 1000
      usage: 0.9
    write:
      minimum: 5
      maximum: 1000
      usage: 0.9
