# For full config options, check the docs:
#    docs.serverless.com
service: moon-backend-lambda

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
# frameworkVersion: "=X.X.X"

provider:
  name: aws
  runtime: nodejs8.10
  # Custom syntax: Use double curly braces to define variables
  # See link for more information:
  #     https://serverless.com/framework/docs/providers/aws/guide/variables/#reference-variables-in-javascript-files
  variableSyntax: "\\${{([ ~:a-zA-Z0-9._\\'\",\\-\\/\\(\\)]+?)}}"
  # See link for more information:
  #     https://serverless.com/framework/docs/providers/aws/guide/credentials/
  stage: ${{opt:stage, self:custom.defaultStage}}
  region: ${{opt:region, self:custom.defaultRegion}}
  profile: ${{opt:aws-profile, self:custom.profiles.${{self:provider.stage}}}}
  # See link for more information:
  #     https://serverless.com/framework/docs/providers/aws/guide/functions#versioning-deployed-functions
  versionFunctions: false
  environment:
    NODE_ENV: ${{self:provider.stage}}
    STACK_PREFIX: ${{self:service}}-${{self:provider.stage}}

plugins:
  - serverless-iam-roles-per-function
  - serverless-cloudformation-changesets
  - serverless-webpack

package:
  individually: true

resources:
  Outputs:
    ExchangeRateArn:
      Value: { Fn::GetAtt: [ExchangeRateLambdaFunction, Arn] }
      Export:
        Name: ${{self:service}}-${{self:provider.stage}}-ExchangeRateArn
    ExchangeRateDescription:
      Value: ${{self:functions.exchangeRate.description}}
      Export:
        Name: ${{self:service}}-${{self:provider.stage}}-ExchangeRateDescription
    GetPaymentPayloadArn:
      Value: { Fn::GetAtt: [GetPaymentPayloadLambdaFunction, Arn] }
      Export:
        Name: ${{self:service}}-${{self:provider.stage}}-GetPaymentPayloadArn
    GetPaymentPayloadDescription:
      Value: ${{self:functions.getPaymentPayload.description}}
      Export:
        Name: ${{self:service}}-${{self:provider.stage}}-GetPaymentPayloadDescription
    SiteInformationArn:
      Value: { Fn::GetAtt: [SiteInformationLambdaFunction, Arn] }
      Export:
        Name: ${{self:service}}-${{self:provider.stage}}-SiteInformationArn
    SiteInformationDescription:
      Value: ${{self:functions.siteInformation.description}}
      Export:
        Name: ${{self:service}}-${{self:provider.stage}}-SiteInformationDescription
    UpdateUserArn:
      Value: { Fn::GetAtt: [UpdateUserLambdaFunction, Arn] }
      Export:
        Name: ${{self:service}}-${{self:provider.stage}}-UpdateUserArn
    UpdateUserDescription:
      Value: ${{self:functions.updateUser.description}}
      Export:
        Name: ${{self:service}}-${{self:provider.stage}}-UpdateUserDescription
    UserArn:
      Value: { Fn::GetAtt: [UserLambdaFunction, Arn] }
      Export:
        Name: ${{self:service}}-${{self:provider.stage}}-UserArn
    UserDescription:
      Value: ${{self:functions.user.description}}
      Export:
        Name: ${{self:service}}-${{self:provider.stage}}-UserDescription

# See Link for functions documentation:
#     https://serverless.com/framework/docs/providers/aws/guide/functions/
#
# IMPORTANT NOTE: CloudFormation logical IDs for functions are converted
#     to camel case with first character capitalized, then appended with
#     "LambdaFunction" at the end. For example,
#     the function 'exchangeRate' will have a CloudFormation logical ID of
#     'ExchangeRateLambdaFunction'
functions:
  exchangeRate:
    name: ${{self:service}}-${{self:provider.stage}}-exchangeRate
    description: 'Returns the exchange rate given a quote and base currency.'
    handler: src/exchangeRate.handler
    timeout: 30
  getPaymentPayload:
    name: ${{self:service}}-${{self:provider.stage}}-getPaymentPayload
    description: 'Exchanges client information for a payment payload to be executed on the client'
    handler: src/getPaymentPayload.handler
    timeout: 180
    iamRoleStatementsInherit: true
    iamRoleStatements:
    - Effect: "Allow"
      Action:
      - "dynamodb:GetItem"
      Resource:
      - ${{self:custom.dynamoDBTables.UserSecrets.Arn}}
      - { Fn::Join: ['', ["${{self:custom.dynamoDBTables.UserSecrets.Arn}}", '/*']] }
  siteInformation:
    name: ${{self:service}}-${{self:provider.stage}}-siteInformation
    description: 'Returns information about a supported site or null if unsupported'
    handler: src/siteInformation.handler
    timeout: 30
  updateUser:
    name: ${{self:service}}-${{self:provider.stage}}-updateUser
    description: 'Updates a moon user with new information.'
    handler: src/updateUser.handler
    iamRoleStatementsInherit: true
    iamRoleStatements:
    - Effect: "Allow"
      Action:
      - "dynamodb:GetItem"
      - "dynamodb:UpdateItem"
      Resource:
      - ${{self:custom.dynamoDBTables.UserSecrets.Arn}}
      - { Fn::Join: ['', ["${{self:custom.dynamoDBTables.UserSecrets.Arn}}", '/*']] }
  user:
    name: ${{self:service}}-${{self:provider.stage}}-user
    description: 'Returns information about a moon user.'
    handler: src/user.handler
    iamRoleStatementsInherit: true
    iamRoleStatements:
    - Effect: "Allow"
      Action:
      - "dynamodb:GetItem"
      Resource:
      - ${{self:custom.dynamoDBTables.UserSecrets.Arn}}
      - { Fn::Join: ['', ["${{self:custom.dynamoDBTables.UserSecrets.Arn}}", '/*']] }

custom:
  # Custom staging profiles. You may access or modify these credentials in ~/.aws/credentials
  # See link for credentials documentation:
  #     https://serverless.com/framework/docs/providers/aws/guide/credentials/
  defaultStage: development
  defaultRegion: us-east-1
  profiles:
    production: moon-production
    development: moon-development

  accountId: ${AWS::AccountId}

  webpack:
    webpackConfig: ./webpack.config.js
    includeModules: true
    packager: npm

  dynamoDBTables:
    UserSecrets:
      Name: { Fn::ImportValue: "moon-database-user-secrets-${{self:provider.stage}}-TableName" }
      Arn: { Fn::ImportValue: "moon-database-user-secrets-${{self:provider.stage}}-TableArn" }
    SiteSupportRequests:
      Name: { Fn::ImportValue: "moon-database-site-support-requests-${{self:provider.stage}}-TableName" }
      Arn: { Fn::ImportValue: "moon-database-site-support-requests-${{self:provider.stage}}-TableArn" }
    NonCheckoutReports:
      Name: { Fn::ImportValue: "moon-database-non-checkout-reports-${{self:provider.stage}}-TableName" }
      Arn: { Fn::ImportValue: "moon-database-non-checkout-reports-${{self:provider.stage}}-TableArn" }
