# For full config options, check the docs:
#    docs.serverless.com
service: moon-backend-lambda

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
# frameworkVersion: "=X.X.X"

provider:
  name: aws
  runtime: nodejs8.10
  # Custom syntax: Use double curly braces to define variables
  # See link for more information:
  #     https://serverless.com/framework/docs/providers/aws/guide/variables/#reference-variables-in-javascript-files
  variableSyntax: "\\${{([ ~:a-zA-Z0-9._\\'\",\\-\\/\\(\\)]+?)}}"
  # See link for more information:
  #     https://serverless.com/framework/docs/providers/aws/guide/credentials/
  stage: ${{opt:stage, self:custom.defaultStage}}
  region: ${{opt:region, self:custom.defaultRegion}}
  profile: ${{opt:aws-profile, self:custom.profiles.${{self:provider.stage}}}}
  # See link for more information:
  #     https://serverless.com/framework/docs/providers/aws/guide/functions#versioning-deployed-functions
  environment:
    NODE_ENV: ${{self:provider.stage}}
    STACK_PREFIX: ${{self:service}}-${{self:provider.stage}}

plugins:
  - serverless-iam-roles-per-function
  - serverless-cloudformation-changesets
  - serverless-webpack

package:
  individually: true

resources:
  Outputs:
    ExchangeRatesArn:
      Value: { Fn::GetAtt: [ExchangeRatesLambdaFunction, Arn] }
    GetPaymentPayloadArn:
      Value: { Fn::GetAtt: [GetPaymentPayloadLambdaFunction, Arn] }
    UpdateUserArn:
      Value: { Fn::GetAtt: [UpdateUserLambdaFunction, Arn] }
    UserArn:
      Value: { Fn::GetAtt: [UserLambdaFunction, Arn] }

# See Link for functions documentation:
#     https://serverless.com/framework/docs/providers/aws/guide/functions/
#
# IMPORTANT NOTE: CloudFormation logical IDs for functions are converted
#     to camel case with first character capitalized, then appended with
#     "LambdaFunction" at the end. For example,
#     the function 'exchangeRate' will have a CloudFormation logical ID of
#     'ExchangeRateLambdaFunction'
functions:
  exchangeRates:
    name: ${{self:service}}-${{self:provider.stage}}-exchangeRates
    description: 'Returns multiple exchange rates given multiple quote and base currencies.'
    logRetentionInDays: 1
    handler: src/exchangeRates.default
    timeout: 30
  getPaymentPayload:
    name: ${{self:service}}-${{self:provider.stage}}-getPaymentPayload
    description: 'Exchanges client information for a payment payload to be executed on the client'
    logRetentionInDays: 2555
    handler: src/getPaymentPayload.default
    timeout: 180
    iamRoleStatementsInherit: true
    iamRoleStatements:
    - Effect: "Allow"
      Action:
      - "dynamodb:GetItem"
      Resource:
      - ${{self:custom.dynamoDBTables.UserSecrets.Arn}}
      - { Fn::Join: ['', ["${{self:custom.dynamoDBTables.UserSecrets.Arn}}", '/*']] }
    - Effect: "Allow"
      Action:
      - "dynamodb:UpdateItem"
      Resource:
      - ${{self:custom.dynamoDBTables.TransactionRecords.Arn}}
      - { Fn::Join: ['', ["${{self:custom.dynamoDBTables.TransactionRecords.Arn}}", '/*']] }
  updateUser:
    name: ${{self:service}}-${{self:provider.stage}}-updateUser
    description: 'Updates a moon user with new information.'
    logRetentionInDays: 7
    handler: src/updateUser.default
    iamRoleStatementsInherit: true
    iamRoleStatements:
    - Effect: "Allow"
      Action:
      - "dynamodb:GetItem"
      - "dynamodb:UpdateItem"
      Resource:
      - ${{self:custom.dynamoDBTables.UserInformation.Arn}}
      - { Fn::Join: ['', ["${{self:custom.dynamoDBTables.UserInformation.Arn}}", '/*']] }
      - ${{self:custom.dynamoDBTables.UserSecrets.Arn}}
      - { Fn::Join: ['', ["${{self:custom.dynamoDBTables.UserSecrets.Arn}}", '/*']] }
  user:
    name: ${{self:service}}-${{self:provider.stage}}-user
    description: 'Returns information about a moon user.'
    logRetentionInDays: 7
    handler: src/user.default
    iamRoleStatementsInherit: true
    iamRoleStatements:
    - Effect: "Allow"
      Action:
      - "dynamodb:GetItem"
      Resource:
      - ${{self:custom.dynamoDBTables.UserInformation.Arn}}
      - { Fn::Join: ['', ["${{self:custom.dynamoDBTables.UserInformation.Arn}}", '/*']] }
      - ${{self:custom.dynamoDBTables.UserSecrets.Arn}}
      - { Fn::Join: ['', ["${{self:custom.dynamoDBTables.UserSecrets.Arn}}", '/*']] }

custom:
  # Custom staging profiles. You may access or modify these credentials in ~/.aws/credentials
  # See link for credentials documentation:
  #     https://serverless.com/framework/docs/providers/aws/guide/credentials/
  defaultStage: development
  defaultRegion: us-east-1
  profiles:
    production: moon-production
    development: moon-development

  accountId: ${AWS::AccountId}

  webpack:
    webpackConfig: ./webpack.config.js
    includeModules: true
    packager: npm

  dynamoDBTables:
    UserInformation:
      Name: ${{cf:moon-database-user-information-${{self:provider.stage}}.TableName}}
      Arn: ${{cf:moon-database-user-information-${{self:provider.stage}}.TableArn}}
    UserSecrets:
      Name: ${{cf:moon-database-user-secrets-${{self:provider.stage}}.TableName}}
      Arn: ${{cf:moon-database-user-secrets-${{self:provider.stage}}.TableArn}}
    SiteSupportRequests:
      Name: ${{cf:moon-database-site-support-requests-${{self:provider.stage}}.TableName}}
      Arn: ${{cf:moon-database-site-support-requests-${{self:provider.stage}}.TableArn}}
    NonCheckoutReports:
      Name: ${{cf:moon-database-non-checkout-reports-${{self:provider.stage}}.TableName}}
      Arn: ${{cf:moon-database-non-checkout-reports-${{self:provider.stage}}.TableArn}}
    TransactionRecords:
      Name: ${{cf:moon-database-transaction-records-${{self:provider.stage}}.TableName}}
      Arn: ${{cf:moon-database-transaction-records-${{self:provider.stage}}.TableArn}}
